/*DISABLE the Horizontal Scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 120%;
    height: 100%;

}

.clear {
    display: block;
}


body {
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    height: auto;
    min-height: 100%;
    background: url('https://s7.postimg.cc/t7874r3x7/White-_Wallpaper-14.jpg') repeat fixed center 114px grey;
    background-size: cover;
}

p {
  text-align:center;
  font-size: 20px;
  margin-top:100px;
  margin-left:45%;
  display:flex;
 
}

#main-container{
  text-align: middle;
  margin-top:10px;
  margin-left: 30%;
  
}

.results {
    font-family: 'Open Sans', sans-serif;
    margin: 4px auto;
    width: 100%;
    text-align: justify;
    padding: 0 0 0px;
    font-size: 12px;
  margin-right: 90%;
  margin-left: -90%;
 
}

  form {
        position: relative;  
        width: 500px;
        border: 0 solid black;
    }

    .buttons {
        left: 40px;
        margin: 4px auto;
        padding: 6px 15px;
      margin-top: -155%;
    }

