
body {
  color: black;
     -webkit-font-smoothing: antialiased;
font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    height: auto;
    min-height: 100%;
    background: url('https://s7.postimg.cc/t7874r3x7/White-_Wallpaper-14.jpg') repeat fixed center 114px grey;
    background-size: cover;
}

}

.content-wrap {
  margin-top: 40px;
}

h1 {
  font-size: 55px;
  color: black;
  font-family: 'Helvetica', Helvetica, Arial, sans-serif;
  margin-top:10%;
}

#search {
  width: 300px;
  height: 30px;
  padding-left: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  outline: none;
  font-size:15px;
}

.btn-default {
  margin: 4px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
  color: black;
}

.btn-default:hover {
  opacity: 0.9;
  color: grey;
}

button {
  width: 122px;
  background-color: green !important;
  outline: none !important;
}

#randomResult {
  display: inline-block;
  width: 165px;
  background-color: purple !important;
  outline: none !important;
  
}

/* trying to make the anchors behave like divs */ 
a {
  display: block;
  margin: 10px;
  padding: 0 50px;
  padding: 20px;
  text-align: justify;
  color: black;
  background-color: white;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
  color: blue;
  border-left: 4px none;
}

.title {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.text {
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

ul li {
  list-style-type: none;
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 35px;  
  }
  
  #search {
    width: 100%;
  }
  
  .title {
    font-size: 18px;
  }
  
  .text {
    font-size: 15px;
  }
}

footer {
    margin: auto;
    height: 45px;
    width: 100%;
    background-color: grey;/*#1e2127 before*/
    color: black;/*#ffffff before*/
    position:relative;
}

footer span {
    display:block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: -2%;
}